extends ../../tpl/components/page

block main
    div.login
        div.login__container
            h1.login__title Вход
            | !{formLogin}
            button.form__signup-button Нет аккаунта?

