ul Ссылки на страницы
    li
        a(href='./pages/login.pug') login
    li
        a(href='./pages/signin.pug') signin
    li
        a(href='./pages/chatPage.pug') chats
    li
        a(href='./pages/profile.pug') profile
    li
        a(href='./pages/profileEdit.pug') profile edit
    li
        a(href='./pages/passwordEdit.pug') password edit
    li
        a(href='./pages/error404.pug') error 404
    li
        a(href='./pages/error500.pug') error 500