ul Ссылки на страницы
    li
        button.loginLink(type='submit', onclick="renderTemplate('login')") login
    li
        button.signinLink(type='submit', onclick="renderTemplate('signin')") signin
    li
        button.chatsLink(type='submit', onclick="renderTemplate('chats')") chats
    li
        button.profileLink(type='submit', onclick="renderTemplate('profile')") profile
    li
        button.profileEditLink(type='submit', onclick="renderTemplate('profileEdit')") profile edit
    li
        button.passwordEditLink(type='submit', onclick="renderTemplate('passwordEdit')") password edit
    li
        button.error404Link(type='submit', onclick="renderTemplate('error404')") error 404
    li
        button.error500Link(type='submit', onclick="renderTemplate('error500')") error 500
