doctype html
html(lang=ru)
    head
        link(href="../../assets/common.scss" rel="stylesheet")
        link(href="../../../node_modules/normalize-scss/sass/_normalize.scss" rel="stylesheet")
    body
        main
            block main
        script(src='../../script.ts')
        script(src='../../validation.ts')