doctype html
html(lang=ru)
    head
        link(href="../../assets/styles.scss" rel="stylesheet")
        link(href="../../vendor/normalize.css" rel="stylesheet")
    body
        main
            block main
        script(src='../../script.js')