extends ../../tpl/components/page

block main
    div.profile
        div.profile__container
            | !{buttonBack}
        div.profile__main
            div(id="img-preview")
                | !{imageAvatar}
            | !{formPasswordEdit}
