extends ../components/page
include ../mixins/chatList
include ../mixins/header
include ../mixins/chat

block aside
    +chat-list([
        {title: 'Андрей', content: 'Изображение', date: '10:49', counter: 2},
        {title: 'Киноклуб', content: 'Вы: стикер', date: '12:00'},
        {title: 'Илья', content: 'Друзья, у меня для вас особенный выпуск новостей!...', date: '15:12', counter: 4},
        {title: 'Вадим', content: 'Вы: Круто!', date: 'Пт'},
        {title: 'тет-а-теты', content: 'И Human Interface Guidelines и Material Design рекомендуют...', date: 'Ср'},
        {title: '1, 2, 3', content: 'Миллионы россиян ежедневно проводят десятки часов свое...', date: 'Пн'},
        {title: 'Design Destroyer', content: 'В 2008 году художник Jon Rafman начал собирать...', date: 'Пн'},
        {title: 'Day.', content: 'Так увлёкся работой по курсу, что совсем забыл его анонсир...', date: '1 Мая 2020'},
        {title: 'Стас Рогозин', content: 'Можно или сегодня или завтра ', date: '12 Апр 2020'},
        {title: 'Андрей', content: 'Изображение', date: '12 Апр 2020'},
        {title: 'Сергей', content: 'Изображение', date: '12 Апр 2020'},
        {title: 'Катя', content: 'Привет', date: '12 Апр 2020'}])
block content
    h3.page__not-chat.page__hide Выберите чат чтобы отправить сообщение
    div
        +header({name: 'Вадим'})
        +chat({
            content: {
                date: '19 июня',
                messages: [
                    {
                        owner: '1',
                        message: 'Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.',
                        imageUrl: '',
                        clock: '11:56',
                    }, {
                        owner: '1',
                        message: 'Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.',
                        imageUrl: '',
                        clock: '11:56',
                    }, {
                        owner: '1',
                        message: '',
                        imageUrl: '../../../assets/image.svg',
                        clock: '11:56',
                    }, {
                        owner: '2',
                        message: 'Круто!',
                        imageUrl: '',
                        clock: '12:00',
                    }
                ]
            },
        })