mixin chat-preview(chat)
    arcticle.chat-preview
        div.chat-preview__avatar
        div.chat-preview__content
            h3.chat-preview__title #{chat.title}
            p.chat-preview__text #{chat.last_message.content}
        div.chat-preview__meta
            time.chat-preview__date #{chat.chat.last_message.time}
            if chat.unread_count
                div.chat-preview__counter #{chat.unread_count}
