extends ../../tpl/components/page

block main
    div.main
        div.signin
            h1.signin__title Регистрация
            | !{formSignin}
            button.form__signup-button(onclick="window.location.href = './login.html'") Войти
