extends ../../tpl/components/page
include ../../tpl/mixins/chat
include ../../tpl/mixins/chatList

block aside
    ul.chat-list
         each chat in listChats
            | !{chat}
block content
    | !{showMessages}
