body {
  color: #1E1E1E;
  font-weight: 500;
  line-height: 1.25;
}

.page {
  display: flex;
  height: 100vh;

  &__aside {
    width: 310px;
    flex-shrink: 0; // блок не должен уменьшаться
    background-color: #FBFBFB;
    padding: 21px 10px 0;
  }

  &__content {
    width: 100%;
    max-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__nav {
    color: #999;
    text-align: right;
  }

  &__link {
    text-align: right;
    color: #999;
    text-decoration: none;
  }

  &__not-chat {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999;
    margin: 50vh 0;
  }

  &__hide {
    display: none;
  }
}

.search {
  display: grid;
  gap: 12px;
  grid-template-columns: auto 54px;
  margin-top: 21px;

  &__form {
    display: inline-flex;
    background: #EFEFEF;
    border-radius: 5px;
    padding: 10px;
  }

  &__field {
    border: 0;
    background: #EFEFEF;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #999;
    align-items: center;
  }

  &__button {
    border-radius: 8px;
    background: url(../../assets/search.svg) no-repeat 50% 50%;
    background-color: #3369F3;
    cursor: url('../../assets/cursor.svg'),pointer;
  }
}

.chat-preview {
  padding: 12px 0;
  border-top: 1px solid #EAEAEA;
  display: flex;
  gap: 10px;

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 100%;
    background-color: #EFEFEF;
    flex-shrink: 0;
  }

  &__content {
    width: 100%;
  }

  &__title {
    margin: 0 0 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999;
    margin: 4px 0 0;
  }

  &__date {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #999;
    margin: 0;
  }

  &__counter {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    color: #fff;
    background: #3369f3;
    border-radius: 50%;
    padding: 4px 4px;
    margin-top: 5px;
  }
}

.chat-list {
  list-style-type: none;
  padding: 0px;
  overflow-y: scroll;
  height: 100%;
}

.header {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 47px auto 30px;
  grid-template-rows: 47px;
  gap: 10px;

  &__avatar {
    background: #EFEFEF;
    border-radius: 50%;
    width: auto;
    height: 100%;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #1E1E1E;
    margin: auto 0;
  }

  &__menu {
    margin: auto;
    background: url('../../assets/menu.svg') no-repeat 50% 50%;
    height: 100%;
    border: 0;
    cursor: url('../../assets/cursor.svg'),pointer;
  }
}

.main {
  text-align: center;

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    padding-top: 48px;
    color: #999;
  }

  &__container {
    margin-top: 30px;
  }

  &__user {
    text-align: left;
  }

  &__message {
    width: 250px;
    margin: 0;
    padding: 11px 11px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1E1E1E;
    text-align: left;
  }

  &__background-grey {
    background: #F8F8F8;
  }

  &__time-text {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    text-align: right;
    width: 250px;
    margin: 0;
    padding: 0 11px 11px;
  }

  &__color-grey {
    color: #999;
  }

  &__container-pic {
    position: relative;
  }

  &__pic {
    margin-top: 10px;
    width: 40%;
  }

  &__time-pic {
    position: absolute;
    bottom: 10px;
    left: 35%;
    background: rgba(82, 82, 82, 0.5);
    border-radius: 30px;
    padding: 2px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    text-align: right;
    color: #FFF;
    margin: 0;
  }

  &__you {
    float: right;
  }

  &__background-blue {
    background: #E4EDFD;
  }

  &__color-blue {
    color: #3369F3;
  }
}

.send-form {
  display: grid;
  grid-template-columns: 40px auto 40px;
  margin-bottom: 0px;
  padding: 11px;
  width: 100%;

  &__button-add {
    background-image: url(../../assets/addPic.svg);
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
  }

  &__input {
    background: #EFEFEF;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #999;
  }

  &__button-send {
    background: #3369F3;
    border-radius: 50%;
    color: #FFF;
  }
}